<div>
    <md-toolbar md-theme="docs-dark">
        <div class="md-toolbar-tools">
            <span flex class="text-center">Bem-vindo Hilton</span>
        </div>
    </md-toolbar>
    <md-content flex layout="column" class="home-card-list">
        <md-card>
            <img hide-gt-sm ng-src="img/tkd-itf-champion-black.jpg" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Campeonato Carioca 20/08</span>
                    <span class="md-subhead" show-gt-sm hide-sm hide-xs>The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...</span>
                </md-card-title-text>
                <md-card-title-media show-gt-sm hide-sm hide-xs>
                    <img ng-src="img/tkd-itf-champion-black.jpg" class="md-card-image" alt="Washed Out">
                </md-card-title-media>
            </md-card-title>
            <md-card-content hide-gt-sm>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon class="material-icons">arrow_forward</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <img hide-gt-sm ng-src="img/capoeira-champion.jpg" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Campeonato Capoeira 25/10</span>
                    <span class="md-subhead" show-gt-sm hide-sm hide-xs>The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...</span>
                </md-card-title-text>
                <md-card-title-media show-gt-sm hide-sm hide-xs>
                    <img ng-src="img/capoeira-champion.jpg" class="md-card-image" alt="Washed Out">
                </md-card-title-media>
            </md-card-title>
            <md-card-content hide-gt-sm>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon class="material-icons">arrow_forward</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Aniversariantes Agosto</span>
                    <span class="md-subhead" show-gt-sm hide-sm hide-xs>Aniversariantes do Mês de Agosto: </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content hide-gt-sm>
                <p>
                    Aniversariantes do Mês de Agosto: 
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon class="material-icons">arrow_forward</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Nova modalidade!</span>
                    <span class="md-subhead" show-gt-sm hide-sm hide-xs>Venha participar da aula de abertura</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content hide-gt-sm>
                <p>
                    Venha participar da aula de abertura
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon class="material-icons">arrow_forward</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>