<div ng-init="initHome()">
    <md-toolbar md-theme="docs-dark">
        <div class="md-toolbar-tools">
            <span flex class="text-center">Bem-vindo Hilton</span>
        </div>
    </md-toolbar>
    <md-content flex layout="column" class="home-card-list">
        <div ng-show="loadingHome" layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-card ng-repeat="event in vm.events">
            <img hide-gt-sm ng-src="{{event.photo}}" ng-if="event.photo" class="md-card-image" alt="{{event.name}}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{event.name}}</span>
                    <span class="md-subhead" show-gt-sm hide-sm hide-xs>{{event.description}}</span>
                </md-card-title-text>
                <md-card-title-media show-gt-sm hide-sm hide-xs>
                    <img ng-src="{{event.photo}}" ng-if="event.photo" class="md-card-image" alt="{{event.name}}">
                </md-card-title-media>
            </md-card-title>
            <md-card-content hide-gt-sm>
                <p>{{event.description}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon class="material-icons">arrow_forward</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card ng-show="vm.birthdays">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Aniversariantes de {{vm.birthdays.month}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content hide-gt-sm>
                <p ng-repeat="person in vm.birthdays.persons">
                    {{person.name}} - {{person.date}}
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goBirthdays();" class="md-icon-button" aria-label="Share">
                    <md-icon class="material-icons">arrow_forward</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>

    </md-content>
</div>