<md-content layout="vertical" flex id="content" class="login-bg" ng-init="initLogin()">
    <div layout="column" layout-align="center center" layout-fill>
        <md-whiteframe class="md-whiteframe-z3 whiteframe-white" layout="column" layout-padding>
            <md-content layout="column">
                <md-input-container>
                    <label>Usuario</label>
                    <md-icon class="material-icons">person</md-icon>
                    <input ng-model="user.login" name="name" ng-focus="loginerr = false">
                </md-input-container>
                <md-input-container>
                    <label>Senha</label>
                    <md-icon class="material-icons">lock</md-icon>
                    <input ng-model="user.password" type="password" name="password" ng-focus="loginerr = false">
                    <div ng-show="loginerr" class="error-login-message" role="alert">Usuário e/ou senha invalida</div>
                </md-input-container>
                <md-input-container layout-align="center center">
                    <div layout="column" layout-margin>
                        <md-button class="md-raised md-primary" ng-disabled="btnDisabled" ng-click="logar();">Entrar</md-button>
                    </div>
                </md-input-container>
                <md-progress-linear ng-show="loginProgress" md-mode="indeterminate"></md-progress-linear>
            </md-content>
        </md-whiteframe>
    </div>
</md-content>