<div>
    <md-toolbar md-theme="docs-dark">
        <div class="md-toolbar-tools">
            <span>Modalidades</span>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Tae Kwon-Do</span>
                    <span class="md-subhead">Leandro Davi</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img ng-src="img/itf-logo.jpg" class="md-card-image" alt="itf">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <p>
                    Segunda, Quartas e Sextas 9h / Terças e Quintas 19h30
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Editar</md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>