<md-dialog aria-label="Novo Usuario" ng-init="initUserDialog()">
    <form name="formulario" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Usuário</h2>
                <span flex></span>
                <md-button ng-hide="action !== 'edit'" class="md-raised md-warn" aria-label="Excluir Usuário" ng-click="deleteUser($event);">
                    Excluir
                </md-button>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Fechar dialog" class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-icon-float md-block">
                    <label>Nome</label>
                    <md-icon class="material-icons">person</md-icon>
                    <input ng-model="user.name" type="text">
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <md-icon class="material-icons">phone</md-icon>
                    <input ng-model="user.phone" type="text" placeholder="Telefones">
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>E-mail</label>
                    <md-icon class="material-icons">email</md-icon>
                    <input ng-model="user.email" type="email">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="cancel();">
                Cancelar
            </md-button>
            <md-button class="md-primary" ng-click="save();" ng-disabled="formulario.$invalid">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>