<div flex>
    <md-toolbar class="md-tall" id="dark-toolbar" layout="row">
        <md-button hide-gt-sm class="md-icon-button" aria-label="Menu" ng-click="toggleMenu()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <div flex layout-align="center center" layout-padding layout="row">
            <div flex>
                <h2>TORI TEAM</h2>
            </div>
            <img ng-src="../img/TORI_LOGO_M.png" height="120" width="167">
        </div>
    </md-toolbar>
    <section layout="row" flex class="section-main">
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="md-tall md-warn" layout="row" layout-padding>
                <div class="md-toolbar-tools" layout-fill>
                    <md-list>
                        <md-list-item class="md-3-line">
                            <md-icon class="material-icons icon-size-36">person</md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3 id="avatar-item-name">{{usuarioLogado.name}}</h3>
                                <h4 id="avatar-item-type">
                                    <span ng-repeat="role in usuarioLogado.roles">{{role}}&nbsp;</span>
                                </h4>
                                <p id="avatar-item-modalities">
                                    <span ng-repeat="modality in usuarioLogado.modalities">{{modality}}&nbsp;</span>
                                </p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-toolbar>
            <md-content>
                <md-list flex>
                    <md-list-item ng-click="go('workspace.home');">
                        <md-icon class="material-icons">home</md-icon>
                        <p>
                            HOME
                        </p>
                    </md-list-item>
                    <md-list-item ng-click="go('workspace.news');">
                        <md-icon class="material-icons">new_releases</md-icon>
                        <p>
                            NOVIDADES
                        </p>
                    </md-list-item>
                    <md-list-item ng-click="go('workspace.modalities');">
                        <md-icon class="material-icons">fitness_center</md-icon>
                        <p>
                            MODALIDADES
                        </p>
                    </md-list-item>
                    <md-list-item ng-click="go('workspace.professors');">
                        <md-icon class="material-icons">school</md-icon>
                        <p>
                            PROFESSORES
                        </p>
                    </md-list-item>
                    <md-divider ng-if="usuarioLogado.admin"></md-divider>
                    <md-list-item ng-if="usuarioLogado.admin" ng-click="go('workspace.users');">
                        <md-icon class="material-icons">account_circle</md-icon>
                        <p>
                            USUARIOS
                        </p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="logout()">
                        <md-icon class="material-icons">exit_to_app</md-icon>
                        <p>
                            SAIR
                        </p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex>
            <div ui-view layout-fill></div>
        </md-content>
    </section>
</div>